# Nba Regular Season 2018-19 Data Challenge

Your task will be to take the dataset given, and create an analysis answering the following 10 questions. This project will again test your knowledge of pandas in order to find the answers needed given the data you are presented with.

# What was the average age of player in the league?

In [7]:
import numpy as np
import pandas as pd

nbaStat = pd.read_csv('../Files/nbastats2018-2019.csv')
nbaStat

,Name,Height,Weight,Team,Age,Salary,Points,Blocks,Steals,Assists,...,MP,G,PER,OWS,DWS,WS,WS48,USG,BPM,VORP
0,Alex Abrines,78,200,Oklahoma City Thunder,25,5455236,5.3,0.2,0.5,0.6,...,19.0,31,6.3,0.1,0.6,0.6,0.053,12.2,-3.4,-0.2
1,Quincy Acy,79,240,Phoenix Suns,28,213949,1.7,0.4,0.1,0.8,...,12.3,10,2.9,-0.1,0.0,-0.1,-0.022,9.2,-5.9,-0.1
2,Jaylen Adams,74,190,Atlanta Hawks,22,236854,3.2,0.1,0.4,1.9,...,12.6,34,7.6,-0.1,0.2,0.1,0.011,13.5,-4.4,-0.3
3,Steven Adams,84,265,Oklahoma City Thunder,25,24157304,13.9,1.0,1.5,1.6,...,33.4,80,18.5,5.1,4.0,9.1,0.163,16.4,2.7,3.2
4,Bam Adebayo,82,255,Miami Heat,21,2955840,8.9,0.8,0.9,2.2,...,23.3,82,17.9,3.4,3.4,6.8,0.171,15.8,3.0,2.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
516,Trae Young,74,180,Atlanta Hawks,20,5356440,19.1,0.2,0.9,8.1,...,30.9,81,17.0,2.5,0.7,3.3,0.062,28.4,-1.1,0.6
517,Cody Zeller,84,240,Charlotte Hornets,26,13528090,10.1,0.8,0.8,2.1,...,25.4,49,17.2,2.6,1.2,3.9,0.150,16.3,2.0,1.2
518,Tyler Zeller,84,253,Atlanta Hawks,29,106974,7.7,0.5,0.2,0.7,...,15.5,6,17.3,0.2,0.1,0.3,0.167,20.1,-2.2,0.0
519,Ante Zizic,83,254,Cleveland Cavaliers,22,1952760,7.8,0.4,0.2,0.9,...,18.3,59,16.2,1.7,0.3,2.0,0.087,18.2,-3.1,-0.3
520,Ivica Zubac,85,240,Los Angeles Clippers,21,1544951,8.9,0.9,0.2,1.1,...,17.6,59,18.9,1.9,1.3,3.2,0.148,20.3,-0.3,0.5

In [14]:
round(nbaStat['Age'].mean())

26

# What player scored the most points?

In [65]:
# points = nbaStat.groupby(['Points', 'Name'])
# points = pd.Series(points)
# points.nlargest

# points = nbaStat.groupby('Name').sum()[['Points']].sort_values('Points', ascending=False)
# points


# nbaStat[nbaStat['Points'] == 5] this is only used for comparisons

nbaStat[['Name','Points']].sort_values('Points', ascending = False)

                       Points
Name
James Harden             36.1
Paul George              28.0
Giannis Antetokounmpo    27.7
Joel Embiid              27.5
LeBron James             27.4
...                       ...
George King               0.0
Andre Ingram              0.0
Okaro White               0.0
Kobi Simmons              0.0
Ike Anigbogu              0.0

[521 rows x 1 columns]

# What player had the most blocks during the season? Was it a post player (F/C)?

In [61]:
# nbaStat.groupby('Name')[['Blocks']].sum().sort_values('Blocks', ascending = False)

Hblocks = nbaStat[['Name', 'Blocks']].sort_values('Blocks', ascending = False)
print(Hblocks)
HblocksSeries = Hblocks['Blocks'] * Hblocks['Name'].count()
HblocksSeries

# Miles Turner plays Center

                   Name  Blocks
476        Myles Turner     2.7
123       Anthony Davis     2.4
419   Mitchell Robinson     2.4
183         Rudy Gobert     2.3
303         Brook Lopez     2.2
..                  ...     ...
416     Duncan Robinson     0.0
413  Malachi Richardson     0.0
410          Davon Reed     0.0
259        B.J. Johnson     0.0
147        Trevon Duval     0.0

[521 rows x 2 columns]

476    1406.7
123    1250.4
419    1250.4
183    1198.3
303    1146.2
        ...
416       0.0
413       0.0
410       0.0
259       0.0
147       0.0
Name: Blocks, Length: 521, dtype: float64

# Based on the regular season, who had the best chance to win a title given their win percentage?

In [80]:
teamWS = nbaStat[['Team', 'Name', 'WS']]
sorted_teams = teamWS.sort_values('Team')


nbaStat.groupby('Team').sum()[['WS']].nlargest(1,columns='WS')

                   WS
Team
Milwaukee Bucks  63.0

# What player had the best 3-pt percentage?

In [81]:
#FG3%
nbaStat[['Name', 'FG3%']].sort_values('FG3%', ascending=False)

                 Name   FG3%
312     Scott Machado  1.000
439     Jordan Sibert  1.000
147      Trevon Duval  1.000
352     Eric Moreland  1.000
95       Troy Caupain  0.667
..                ...    ...
468  Tristan Thompson    NaN
477         Ekpe Udoh    NaN
507   Robert Williams    NaN
519        Ante Zizic    NaN
520       Ivica Zubac    NaN

[521 rows x 2 columns]

# Who played the most minutes during the season

In [82]:
nbaStat.groupby('Name').sum()[['MP']].nlargest(1,columns='MP')

                MP
Name
Bradley Beal  36.9

# What player given their player effiecency rating was the clutchest during the season?

In [83]:
nbaStat.groupby('Name').median()[['PER']].nlargest(1,columns='PER')

          PER
Name
Zhou Qi  80.4

# What team had the youngest roster?

In [87]:
nbaStat.groupby('Team').sum()[['Age']].sort_values('Ages')

                        Age
Team
Oklahoma City Thunder   309
Miami Heat              310
Toronto Raptors         326
Portland Trail Blazers  348
Houston Rockets         363
Charlotte Hornets       364
Sacramento Kings        366
Orlando Magic           368
Milwaukee Bucks         377
Denver Nuggets          379
Boston Celtics          384
Chicago Bulls           389
Detroit Pistons         394
New York Knicks         394
Utah Jazz               407
Cleveland Cavaliers     416
Dallas Mavericks        418
Golden State Warriors   418
San Antonio Spurs       422
Indiana Pacers          426
Los Angeles Lakers      426
Minnesota Timberwolves  426
Memphis Grizzlies       436
Philadelphia 76ers      448
Washington Wizards      455
Brooklyn Nets           460
New Orleans Pelicans    464
Los Angeles Clippers    515
Phoenix Suns            520
Atlanta Hawks           556

# Who is the highest paid player during the seasion?

In [116]:
nbaStat[['Name', 'Salary']].sort_values('Salary', ascending = False)
# type(nbaStat['Salary'])
# nbaStat['Salary'].nlargest(1,'Salary')

                    Name   Salary
255         John Jenkins    99290
188      Devonte' Graham   988464
402        Dwight Powell  9631250
129  Matthew Dellavedova  9607500
157           Dante Exum  9600000
..                   ...      ...
96       Tyler Cavanaugh        -
92           Alex Caruso        -
292           Damion Lee        -
293       Walt Lemon Jr.        -
175        Billy Garrett        -

[521 rows x 2 columns]

# At the end of a game, who WOULDN'T you want on the Free Throw Line?

In [109]:
nbaStat[['Name','FTA', 'FT%']].sort_values('FT%').head(20)

                   Name  FTA    FT%
268      Terrence Jones  0.5  0.000
221   Haywood Highsmith  0.4  0.000
356  Donatas Motiejunas  0.7  0.000
502       C.J. Williams  0.1  0.000
154         Jacob Evans  0.0  0.000
360         Dzanan Musa  0.2  0.000
325      Tahjere McCall  1.0  0.000
168      Melvin Frazier  0.4  0.250
451        Ray Spalding  0.9  0.333
310         Tyler Lydon  0.1  0.333
324    Luc Mbah a Moute  1.3  0.400
27           Lonzo Ball  1.0  0.417
283        Kosta Koufos  0.6  0.417
472      Gary Trent Jr.  0.5  0.429
499    Hassan Whiteside  3.4  0.449
56         Jonah Bolden  0.6  0.481
61         Tony Bradley  0.7  0.500
495        Thomas Welsh  0.2  0.500
128       Angel Delgado  1.0  0.500
501       Alan Williams  0.8  0.500